html, body {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h1, h2, h3, h4, p {
    margin: 0;
}



.container
{
    grid-template-areas: 
        "gheader",
        "gmain",
        "gfooter";
}

.header, .main_bild1, .main_bild2 {
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header
{
    grid-area: gheader;
    height: 110vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 131, 0.7)), url(FakeBilleder/victor-freitas-604835-unsplash.jpg);
    z-index: -10;
    
}

.heading {
    position: fixed;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -9;
}

.heading_text {
    color:#f0c844;
    text-transform: uppercase;
}

.heading_text__main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-shadow: #595959 4px 4px 10px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading_text__sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: #595959 2px 2px 10px;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main
{
    grid-area: gmain;
    grid-template-areas: 
        "gelev",
        "gbild1",
        "gskole",
        "gbild2",
        "gfakta";
}

.main_elev
{
    grid-area: gelev;
    text-align: left;
    font-family: lato;
    background-image: linear-gradient(to bottom, rgba(240, 200, 68, 0.98), rgba(179, 157, 54, 0.90)), url(FakeBilleder/rawpixel-604759-unsplash.jpg);
    padding: 5% 15% 0% 15%;
}

.main_elev__heading {
    
}

.main_elev__text {
    text-align: justify;
}

.main_elev__video {
    width: 100%;
    padding: 5% 0%;
}

.main_bild1
{
    grid-area: gbild1;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 131, 0.7)), url(FakeBilleder/neonbrand-426918-unsplash.jpg);
    z-index: -8;
}

.main_bild1__text {
    position: absolute;
    top: 35rem;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 35rem;
    z-index: -7;
}

.main_bild1__citat {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #FFD950;
    animation: moveInRight 1s ease-out;
    text-shadow: #595959 3px 3px 10px;
}

.main_skole
{
    grid-area: gskole;
    text-align: left;
    font-family: lato;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(240, 200, 68, 0.98), rgba(179, 157, 54, 0.90)), url(FakeBilleder/rawpixel-604759-unsplash.jpg);
    padding: 5% 15% 0% 15%;
}

.main_skole__heading {
    
}

.main_skole__text {
    text-align: justify;
}

.main_skole__video {
    width: 100%;
    padding: 5% 0%;
}

.main_bild2
{
    grid-area: gbild2;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 131, 0.7)), url(FakeBilleder/isaiah-rustad-527191-unsplash.jpg);
    z-index: -6;
}

.main_bild2__text {
    position: absolute;
    top: 35rem;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 35rem;
    z-index: -5;
}

.main_bild2__citat {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #FFD950;
    animation: moveInRight 1s ease-out;
    text-shadow: #595959 3px 3px 10px;
}

.main_fakta
{
    grid-area: gfakta;
    background-image: linear-gradient(to bottom, rgba(240, 200, 68, 0.98), rgba(179, 157, 54, 0.90)), url(FakeBilleder/rawpixel-604759-unsplash.jpg);
}

.main_fakta__box {
    
}

.main_fakta__box1 {
    display: flex;
    flex-direction: row;
    padding: 5% 15% 0% 15%;
}

.main_fakta__box2 {
    display: flex;
    flex-direction: row;
    padding: 5% 15% 0% 15%;
}

.main_fakta__box3 {
    display: flex;
    flex-direction: row;
    padding: 5% 15% 0% 15%;
}

.main_fakta__box4 {
    display: flex;
    flex-direction: row;
    padding: 5% 15% 5% 15%;
}

.main_fakta__boxp {
    margin: 0rem 4rem;
    animation: moveInLeft 1s ease-out;
}

.footer
{
    grid-area: gfooter;
}